body{
    background-color: #101010;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#unused{
    display: none;
}
.price-panic{
    background-color: red;
}

.flex-container{
    display: inline-block;
    width: 200px;
    height: 180px
}
.orderBookTable_chart__item__2rjBp{
    width: 100%;
}
.graf-container{
    position: relative;
    top: -55px;
    left: 0;
    width: 1;
    height: 1;
}
.info-box{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    width: 200px;
    align-content: flex-end;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 21px;
    top:16px;
}
.sell-order{
    color: red;
}
.buy-order{
    color: green
}
.price{
    color: blue;
}
.name-book{
    color: #ffed00;
    position: relative;
    /* left: 69px; */
    top: 17px;
    width: 200px;
    text-decoration: none;
    text-align: center;
}
text{
    display: none;
}
.orderBookTable_chart__3geWV{
    display: inline-flex;
    transform: scale(0.6);
    width: 401px;
    margin: 0;
    padding: 0;
    max-width: 199px;
    height: 134px;
    min-width: -moz-calc(56% - 14px - 13px);
    min-width: 100px;
    max-width: -moz-calc(56% - 14px - 13px);
    position: inherit;
    bottom: 0;
    top: 40px;
    left: 50%;
    -moz-transition: .5s;
    transition: .0s;
    z-index: 1;
    overflow: unset;
    flex-wrap: nowrap;
    justify-content: center;
}